*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	display:flex;
	justify-content:center;
	align-items: center;
	min-height:100vh;
	background: #091921;
	background: url("res/img4.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-blend-mode: hard-light;
}
body:after
{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.1);
}
.calculator
{
	position:relative;
	display:grid;
}
.calculator:before
{
	content:"Calculator";
	grid-column:span 4;
	position:relative;
	text-align:center;
	font-size:45px;
	color:#fff;
}
.calculator .value
{
	grid-column: span 4;
	height:100px;
	text-align:right;
	border:none;
	outline: none;
	padding:10px;
	font-size:18px;
}
.calculator span
{
	display:grid;
	height: 80px;
	width:80px;
	color:#fff;
	background:#0c2835;
	place-items:center;
	border: 1px solid rgba(0,0,0,0.1);				/*border can be transparent*/
}
.calculator span:active
{
	background: #74ff3b;
	color:#111;
}
.calculator span.clear
{
	grid-column:span 2;
	width:160px;
	background:#ff3077;
}
.calculator span.plus
{
	grid-row: span 2;
	height:160px;
}
.calculator span.equal
{
	background: #03b1ff;
}

@media(max-width:768px)
{
	body
	{
		background: url("res/img4.jpg");
	}
	body:after
	{
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: rgba(0,0,0,0.1);

	}
	.calculator
	{
		box-shadow: 0 5px 10px 2px rgba(255,255,255,0.2);
	}
	.calculator span
	{
		display:grid;
		height: 60px;
		width:60px;
		color:#fff;
		background:#0c2835;
		place-items:center;
		border: 1px solid rgba(0,0,0,0.1);				/*border can be transparent*/
		grid-column-gap: 0;
	}
	.calculator span.clear
	{
		grid-column:span 2;
		width:120px;
		background:#ff3077;
	}
	.calculator span.plus
	{
		grid-row: span 2;
		height:120px;
	}
}