*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	display:flex;
	justify-content:center;
	align-items: center;
	min-height:100vh;
	background: #091921;
	background: url("res/img2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-blend-mode: hard-light;
	flex-direction: column;
	max-width:100vh;
}
body::before
{
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-image: url(res/img2.jpg);
	filter: grayscale(100%);
}
body::after
{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.5);
}
.heading
{
	z-index: 2;
}
.heading h1
{
	color:#fff;
	font-size: 40px;
	letter-spacing: 2px;
	padding-bottom:5px;
}
.calculator
{
	position:relative;
	display:grid;
	z-index:2;
	filter:blur(0);
	margin-bottom: 15px;
	background:#1a4a66;
	padding:0;
}
.calculator .value
{
	grid-column: span 4;
	height:100px;
	text-align:right;
	border:none;
	outline: none;
	padding:10px;
	font-size:18px;
}
.calculator span
{
	display:grid;
	height: 80px;
	width:80px;
	color:#fff;
	background:#1a4a66;
	place-items:center;
	border: 1px solid rgba(0,0,0,0.1);				/*border can be transparent*/;
}
.calculator span:active
{
	background: #74ff3b;
	color:#111;
}
.calculator span.clear
{
	grid-column:span 2;
	width:160px;
	background:#fa3b7d;
}
.calculator span.plus
{
	grid-row: span 2;
	height:160px;
}
.calculator span.equal
{
	background: #03b1ff;
}
footer
{
	z-index: 2;
	color:white;
	position:absolute;
	bottom:40px;
}
@media(max-width:768px)
{
	body
	{
		background: url("res/img4.jpg");
	}

	.heading h1
	{
		color:#fff;
		font-size: 40px;
		letter-spacing: 2px;
		padding-bottom:5px;
	}
	.calculator
	{
		background: #0c2835;
		background:#1a4a66;
	}
	.calculator span
	{
		display:grid;
		height: 60px;
		width:60px;
		color:#fff;
		background:#0c2835;
		background:#1a4a66;
		place-items:center;
		border: 1px solid rgba(0,0,0,0.1);
		grid-column-gap: 0;
	}
	.calculator span.clear
	{
		grid-column:span 2;
		width:120px;
		background:#ff3077;
	}
	.calculator span.plus
	{
		grid-row: span 2;
		height:120px;
	}
}